body {
    background-color: #eb5e8f;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

button {
    background-color: #1720a0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:   
 none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color:   
 #3e8e41;
}